.container-free {
    padding-bottom: 70px;
}

.WrapperLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.WrapperLogo__item {
    margin-right: 20px;
}